<form {{action "save" on="submit"}}>
  <div>
    <label>
      Vol number
      {{input type="text" value=model.volnumber}}
    </label>
  </div>
  <div>
    <label>
      Lname
      {{input type="text" value=model.lname}}
    </label>
  </div>
  <div>
    <label>
      Fname
      {{input type="text" value=model.fname}}
    </label>
  </div>
  <div>
    <label>
      Vol dob
      {{input type="text" value=model.voldob}}
    </label>
  </div>
  <div>
    <label>
      Address
      {{input type="text" value=model.address}}
    </label>
  </div>
  <div>
    <label>
      City
      {{input type="text" value=model.city}}
    </label>
  </div>
  <div>
    <label>
      State
      {{input type="text" value=model.state}}
    </label>
  </div>
  <div>
    <label>
      Zipcode
      {{input type="text" value=model.zipcode}}
    </label>
  </div>
  <div>
    <label>
      Email
      {{input type="text" value=model.email}}
    </label>
  </div>
  <div>
    <label>
      Cell phone
      {{input type="text" value=model.cellphone}}
    </label>
  </div>
  <div>
    <label>
      Vol notes
      {{input type="text" value=model.volnotes}}
    </label>
  </div>
  <div>
    <input type="submit" value="Save">
  </div>
</form>
