<p style="color:MediumSeaGreen;">
  {{link-to "Volunteer list" "volunteers.index" class="button"}}
</p>
<style>
span.note {
  font-size: 120%;
  color: red;
}
</style>
<h1>Volunteer Information in the Organization</h1>

<p>
  <strong>Volunteer number:</strong>
  <span class="note">{{model.volnumber}}</span>
</p>

<p>
  <strong>Last name:</strong>
  <span class="note">{{model.lname}}</span>
</p>

<p>
  <strong>First name:</strong>
  <span>{{model.fname}}</span>
</p>

<p>
  <strong>Volunteer dob:</strong>
  <span>{{model.voldob}}</span>
</p>

<p>
  <strong>Address:</strong>
  <span>{{model.address}}</span>
</p>

<p>
  <strong>City:</strong>
  <span>{{model.city}}</span>
</p>

<p>
  <strong>State:</strong>
  <span>{{model.state}}</span>
</p>

<p>
  <strong>Zipcode:</strong>
  <span>{{model.zipcode}}</span>
</p>

<p>
  <strong>Email:</strong>
  <span>{{model.email}}</span>
</p>

<p>
  <strong>Cell phone:</strong>
  <span>{{model.cellphone}}</span>
</p>

<p>
  <strong>Notes/Remarks:</strong>
  <span>{{model.volnotes}}</span>
</p>
