<p>
  {{link-to "Volunteer list" "volunteers.index" }}
</p>

<h1>Volunteer show</h1>

<p>
  <strong>Vol number:</strong>
  <span>{{model.volnumber}}</span>
</p>

<p>
  <strong>Lname:</strong>
  <span>{{model.lname}}</span>
</p>

<p>
  <strong>Fname:</strong>
  <span>{{model.fname}}</span>
</p>

<p>
  <strong>Vol dob:</strong>
  <span>{{model.voldob}}</span>
</p>

<p>
  <strong>Address:</strong>
  <span>{{model.address}}</span>
</p>

<p>
  <strong>City:</strong>
  <span>{{model.city}}</span>
</p>

<p>
  <strong>State:</strong>
  <span>{{model.state}}</span>
</p>

<p>
  <strong>Zipcode:</strong>
  <span>{{model.zipcode}}</span>
</p>

<p>
  <strong>Email:</strong>
  <span>{{model.email}}</span>
</p>

<p>
  <strong>Cell phone:</strong>
  <span>{{model.cellphone}}</span>
</p>

<p>
  <strong>Vol notes:</strong>
  <span>{{model.volnotes}}</span>
</p>
