<p>
  {{link-to "Donor list" "donors1.index" class="button"}}
</p>

<h1>Donor show</h1>

<p>
  <strong>Donorname:</strong>
  <span>{{model.donorname}}</span>
</p>

<p>
  <strong>Joindate:</strong>
  <span>{{model.joindate}}</span>
</p>

<p>
  <strong>Email:</strong>
  <span>{{model.email}}</span>
</p>

<p>
  <strong>Notes:</strong>
  <span>{{model.notes}}</span>
</p>
