<form {{action "save" on="submit"}}>
  <div>
    <label>
      Item
      {{input type="text" value=model.item}}
    </label>
  </div>
  <div>

    <label>
      Donor
      {{input type="text" value=model.donor}}
      <!--{{drop-down options=model.donor value=donor.donorname valueKey=valueKey textKey=textKey defaultText=defaultText}}-->
    </label>

  </div>
  <div>
    <label>
      Quantity
      {{input type="text" value=model.quantity}}
    </label>
  </div>
  <div>
    <label>
      Receiveddate
      {{pikaday-input value=model.receiveddate onSelection=(action (mut model.receiveddate)) readonly="readonly" format="MM/DD/YYYY"}}
    </label>
  </div>
  <div>
    <input type="submit" value="Save">
  </div>
</form>
