<form {{action "save" on="submit"}}>

 <div>
      {{#power-select
          selected=model.donation.item
          placeholder="Select one Item Name"
          options=model.inventories
          onchange=(action (mut model.donation.item))
          as |item|
      }}
        {{item.itemname}}
      {{/power-select}}

  </div>

  <div>
      Donor
      {{#power-select
          selected=model.donation.donor
          options=model.donors
          onchange=(action (mut model.donation.donor))
          as |donor|
      }}
        {{donor.donorname}}
      {{/power-select}}
    {{!--{{drop-down options=model.donor value=donor.donorname valueKey=valueKey textKey=textKey defaultText=defaultText}} --}}
</div>


  <div>
    <label>
      Quantity
      {{input type="text" value=model.quantity}}
    </label>
  </div>
  <div>
    <label>
      Receiveddate
      {{pikaday-input value=model.receiveddate onSelection=(action (mut model.receiveddate)) readonly="readonly" format="MM/DD/YYYY"}}
    </label>
  </div>
  <div>
    <input type="submit" value="Save">
  </div>
</form>
