<p>
  {{link-to "Donation list" "donations.index" class="button"}}
</p>

<h1>Donation show</h1>
{{#if auth.isLoggedIn}}
<p>
  <strong>Item:</strong>
  <span>{{model.item.itemname}}</span>
</p>

<p>
  <strong>Donor:</strong>
  <span>{{model.donor.donorname}}</span>
</p>

<p>
  <strong>Quantity:</strong>
  <span>{{model.quantity}}</span>
</p>

<p>
  <strong>Receiveddate:</strong>
  <span>{{model.receiveddate}}</span>
</p>
{{/if}}
