<p>
  {{link-to "Donation list" "donations.index" }}
</p>

<h1>Donation show</h1>

<p>
  <strong>Item:</strong>
  <span>{{model.item}}</span>
</p>

<p>
  <strong>Donor:</strong>
  <span>{{model.donor}}</span>
</p>

<p>
  <strong>Quantity:</strong>
  <span>{{model.quantity}}</span>
</p>

<p>
  <strong>Receiveddate:</strong>
  <span>{{model.receiveddate}}</span>
</p>

